<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clase 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo"> Formulario Ingreso de datos </div>
  <div class="contenido">
    <!--etiqueta flotante -->
    <ion-item>
      <ion-label position="floating">Nombre completo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rut:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Comentario:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-label>{{valor}} </ion-label>
  </div>
</ion-content>